<ion-header>
  <ion-toolbar>
    <ion-title>posts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Searchbar with cancel button shown on focus -->
<ion-searchbar  placeholder="Type Item Name">
</ion-searchbar>
<ion-list>
    <!-- list -->
    <ion-item button [routerLink]="['/post', post.id]" *ngFor="let post of (posts | async)">
        <!-- item -->
        <ion-row class="catagory">
            <!-- row -->
            <ion-col col-6>
                <!-- col with 50  width -->
                <img src="https://s3.amazonaws.com/ffe-ugc/avatar/assets/00692962-426c-11e7-883d-000d3a3122f5.jpg?v=2" alt="foodname" />
            </ion-col>
            <ion-col col-6>
                <!-- col with 50% width -->
                <p class="item-name">{{post.title}}</p>
                <p class="item-detail" text-wrap>
                    <span>{{post.description}}</span>
                </p>
                <div class="product-rating">
                    <!-- rating -->
                  
                </div>
            </ion-col>
        </ion-row>
        <!--end row -->
    </ion-item>
    <!-- item -->
</ion-list>
</ion-content>

