<ion-header>
  <ion-toolbar>
    <ion-title>posts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Searchbar with cancel button shown on focus -->
<ion-searchbar showCancelButton="focus"></ion-searchbar>

  <ion-list>
    <ion-item button [routerLink]="['/post', post.id]" *ngFor="let post of (posts | async)">
      <ion-thumbnail  item-left>
        <img src="https://s3.amazonaws.com/ffe-ugc/avatar/assets/00692962-426c-11e7-883d-000d3a3122f5.jpg?v=2" />
      </ion-thumbnail>
      {{ post.title }}
    </ion-item>
  </ion-list>
</ion-content>

<!--

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/post">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
<ion-item  *ngFor="let post of (posts | async)">
      {{ post.id }}
    </ion-item>
  </ion-list>
</ion-content>

-->