.logo {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 4em;
    padding-bottom: 2em;
  }

  .text-center {
      span {
        border: 1px solid lightgray;
        border-radius: 50%;
        padding: 10px;
        margin:10px 20px;
      }

  }

  .login-btn {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    height: 2.4rem;
  }
  