<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="grid-basic-page" class="ion-padding">
  <ion-grid class="grid">
  <h2 class="text-center">Categories</h2>

  <ion-row class="categories">
    <ion-col size="6">
      <img src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2020/15-cbd-beauty-products/how-to-cbd-ify-your-beauty-routine-hero-mudc-061520.jpg?w=400&h=300&blr=False&hash=347590EDA9F96B5869208393582D7FE8" />
      <p class="text-over-img">item.title</p>
    </ion-col>
    <ion-col size="6">
      <img src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2020/15-cbd-beauty-products/how-to-cbd-ify-your-beauty-routine-hero-mudc-061520.jpg?w=400&h=300&blr=False&hash=347590EDA9F96B5869208393582D7FE8" />
      <p class="text-over-img">item.title</p>
    </ion-col>
    <ion-col size="6">
      <img src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2020/15-cbd-beauty-products/how-to-cbd-ify-your-beauty-routine-hero-mudc-061520.jpg?w=400&h=300&blr=False&hash=347590EDA9F96B5869208393582D7FE8" />
      <p class="text-over-img">item.title</p>
    </ion-col>
    <ion-col size="6">
      <img src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2020/15-cbd-beauty-products/how-to-cbd-ify-your-beauty-routine-hero-mudc-061520.jpg?w=400&h=300&blr=False&hash=347590EDA9F96B5869208393582D7FE8" />
      <p class="text-over-img">item.title</p>
    </ion-col>
    <ion-col size="6">
      <img src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2020/15-cbd-beauty-products/how-to-cbd-ify-your-beauty-routine-hero-mudc-061520.jpg?w=400&h=300&blr=False&hash=347590EDA9F96B5869208393582D7FE8" />
      <p class="text-over-img">item.title</p>
    </ion-col>
    <ion-col size="6">
      <img src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2020/15-cbd-beauty-products/how-to-cbd-ify-your-beauty-routine-hero-mudc-061520.jpg?w=400&h=300&blr=False&hash=347590EDA9F96B5869208393582D7FE8" />
      <p class="text-over-img">item.title</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

