<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="grid-basic-page">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>

          <p padding>
            In publishing and graphic design, 
            Lorem ipsum is a placeholder text commonly used
            
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div> 
          <p padding>
            In publishing and graphic design, 
            Lorem ipsum is a placeholder text commonly used
             
          </p>
           </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <ion-icon name="heart" padding></ion-icon>                    <!-- active -->
          </div>
      </ion-col>
      <ion-col>
        <div><p padding>
          In publishing and graphic design, 
          Lorem ipsum is a placeholder text commonly used
           
        </p></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><p padding>
          In publishing and graphic design, 
          Lorem ipsum is a placeholder text commonly used
           to demonstrate the visual form of a document or a
        </p></div>
      </ion-col>
      <ion-col>
        <div><p padding>
          In publishing and graphic design, 
          Lorem ipsum is a placeholder text commonly used
           to demonstrate the visual form of a document or a
        </p></div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
